@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

:root{
    --fonte1: 'Inter'
    --fonte2: 'Poppins'
}
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}
body{
    background-color: rgba(211, 211, 211, 0.122);
}
.foto-principal-main{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 2.5em;
    height: 500px;
    color: rgb(255, 255, 255);
    background: white url('imagems/ACMELLA\ OREACEA.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Inter';
    text-align: center;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    box-shadow: 1px 1px 10px black;
    font-family: 'Poppins';
}
.nav > a:hover{
    font-family: 'Inter';
    color: #ffda05;
}
.nav > a:hover{
    font-family: 'Inter';
    color: #ffda05;
}
.nav{
    padding: 10px;
    text-align: center;
    background-color: white;
}
main > h1{
    text-align: center;
    font-family: 'Inter';
    color: #FFD700;
}
hr{
    width: 400px;
    background-color: black;
}
main{
    max-width: 1200px;
    min-width: 300;
    margin: auto;
    background-color: white;
    padding-top: 30px;
    box-shadow: 1px 1px 10px black;
}
.foto-principal-main-amazonia{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 2.5em;
    height: 500px;
    color: rgb(255, 255, 255);
    background: white url('https://images.pexels.com/photos/2739666/pexels-photo-2739666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Inter';
    text-align: center;
    margin-top: 65px;
    margin-bottom: 20px;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.card{
    margin-right: 10px;
    position: static;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.376);
    border-radius: 10px;
    margin-bottom: 15px;
}
.card:hover .btn{
    transform: scale(1.15);
    transition: 1s;
}
#produtos{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    background-color: #FF8C00;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.444);
    
}
#produtos:hover{
    transform: scale(1.05);
    transition: 1s;
    background-color: #15c426;
}
.btn{
    background-color:#e98203;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(183, 132, 15) ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.419);
}
.card .btn:hover{
    transform: scale(1.2);
    background-color: #15c426;
    border: #303136;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    
}
#amazonia2{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 2.5em;
    height: 500px;
    color: rgb(255, 255, 255);
    background: white url('imagems/RIO\ AMAZONAS.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Inter';
    text-align: center;
    margin-top: 65px;
    margin-bottom: 20px;
}

main > p{
    text-align: justify;
    text-indent: 50px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    color:#e1e109;
}
.nav > a{
    color: #FF8C00;
    margin: auto;
}
main img{
    display: block;
    margin: auto;
}
footer {
    width: 100%;
    background-color: #FF8C00;
    color: #ffffff;
    font: normal 11pt 'Inter';
    padding: 0;
    margin: 0;
}
#container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#ti{
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.logo{
    min-width: 280px;
    max-width: 550px;
    display: block;
    margin: auto;
}
#Menu{
    background-color: #ffffff;
    width: 600px;
    margin: auto;
}
.img-fluid{
    width: 80%;
    display: block;
    margin: auto;
}
#logo1{
    background-color: white;
}
.footer-colum{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}
.footer-colum p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#info P {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#info{
    margin: 20px;

}
@media screen  and (max-width: 768px){
    main{
        max-width: 1000px;
        min-width: 300;
        margin: auto;
        background-color: white;
        padding-top: 30px;
        box-shadow: 1px 1px 10px black;
    }
    main img{
        display: block;
        margin: auto;
        width: 300px;
    }
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-bottom: 10px;
    }
    .nav{
        height: 100px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .nav > a:hover{
        transform: scale(1.2);
        color: #ffd900;
    }
    .logo{
        margin-top: 78px;
        width: 100%;
        display: block;
    }
    #Menu{
        width: 280px;
    }
    hr{
        width: 40%;
    }
    .img-fluid{
        margin-top: 100px;
    }
    #container-footer{
        display: flex;
        flex-direction: column;
        margin: 0px 20px 0px 20px;
    }
    .footer-colum{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .footer-colum h3{
        font-weight: bolder;
    }
    .footer-colum p{
        font-family: Arial, Helvetica, sans-serif;
    }
    #info p{
        font-family: Arial, Helvetica, sans-serif;
    }
    
}
    
